@page
@model DocsModel

@{
    ViewData["Title"] = "Documentation";
}
<!-- asdf -->
<section class="box box-a py-md">
    <div>
        <h2 class="text-xl">Documentation</h2>

        <p class="text-sm">Please bear with us while we build a new documentation area!</p>

        <p class="text-sm"><a href="https://github.com/bellingcat/auto-archiver">https://github.com/bellingcat/auto-archiver</a> is a good start</p>
        <p class="text-sm"><a href="https://github.com/djhmateer/auto-archiver">https://github.com/djhmateer/auto-archiver</a> is our fork</p>

    </div>
</section>

