@page
@model DocsModel

@{
    ViewData["Title"] = "Documentation";
}
<!-- asdf -->
<section class="box box-a py-md">
    <div>
        <h2 class="text-xl">Documentation</h2>

        <p class="text-sm">Please bear with us while we build a new documentation area!</p>

        <p class="text-sm"><a href="https://github.com/bellingcat/auto-archiver">https://github.com/bellingcat/auto-archiver</a> is a good start</p>
        <p class="text-sm"><a href="https://github.com/djhmateer/auto-archiver">https://github.com/djhmateer/auto-archiver</a> is our fork</p>
        <p class="text-sm"><a href="https://www.bellingcat.com/resources/2022/09/22/preserve-vital-online-content-with-bellingcats-auto-archiver-tool/">https://www.bellingcat.com/resources/2022/09/22/preserve-vital-online-content-with-bellingcats-auto-archiver-tool/</a> is a good article from Miguel</p>

    </div>
</section>

