@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Box A - Hero - Text Left col, Image and button right -->
<section class="box box-a grid-col-2">
    <!-- col 1 -->
    <div>
        <div class="box-text">
            <h2 class="text-xl">Archive Social Media Posts</h2>
            <p class="text-sm"><b>Content can disappear on the internet! It can be removed by the platform or the user. Do you want to keep important posts safe? Make your own copy using our auto-archiver</b></p>

            <p class="text-sm">Archive to your own (or ours) Google Drive, Amazon S3 or Local Filesystem - full support included</p>

            <p class="text-sm">Download all images, video and a screenshot from public posts on <b>Facebook, YouTube, Twitter, TikTok, Telegram and VKontakte</b>.</p>

            @*<h2 class="text-sm">x</h2>*@
            <p class="text-sm">Can we archive other sites? - Yes! We use <a href="https://web.archive.org/">The Internet Archive Wayback Machine</a> which is perhaps the best generic archive service </p>
          @*  <p class="text-sm">- Can we make your downloaded content public so you can share a link to it? Yes!</p>*@
        </div>
    </div>
    <div>
        <img src="img/2023/fb-none.jpg" alt="" width="500">
        <p class="text-sm">Facebook content taken offline - you never want to see this - let us help</p>
    </div>
</section>

<!-- Twitter demo -->
<section class="box box-a py-md">
    <div>
        <h2 class="text-xl">Twitter Demo</h2>
        <p class="text-sm">You will see that archiving a page is as simple as copying and pasting the URL into a spreadsheet.</p>
        <ul>
            <li>- <a href="https://twitter.com/dave_mateer/status/1524341442738638848">Twitter link</a> entered into Google Spreadsheet</li>
            <li>- Auto-Archiver starts working after a few minutes</li>
            <li>- View archive of screenshot and full resolution image in Google Drive</li>
        </ul>

        <div class="text-center">
            <video controls autoplay muted loop width="1300">
                <source src="video/twitter5.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p class="text-sm" align="left"><a href="">YouTube version</a> of video.</p>
        </div>

    </div>
</section>

<!-- Facebook demo -->
<section class="box box-a py-md">
    <div>

        <h2 class="text-xl">Facebook Demo</h2>
        <p class="text-sm">A public Facebook url containing 3 images can easily be archived, with your own naming strategy. No more confusion, no more frustration. Get organised and start archiving today. </p>
        <p class="text-sm"></p>
        <ul>
            <li>- Public <a href="https://www.facebook.com/khitthitnews/posts/pfbid0PTvT6iAccWqatvbDQNuqpFwL5WKzHuLK4QjP97Fwut637CV3XXQU53z1s2bJMAKwl">Facebook link</a> entered into Google Spreadsheet</li>
            <li>- Auto-Archiver starts working after a few minutes</li>
            <li>- View archive of screenshot and 3 full resolution images in Google Drive</li>
        </ul>

        <div class="text-center">
            <video controls muted loop width="1300">
                <source src="video/facebook4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p class="text-sm" align="left"><a href="">YouTube version</a> of video.</p>
        </div>

    </div>
</section>


<!--  Numbers and stats-->
<section class="box bg-grey text-center py-md">
    <div class="box-inner">
        <h2 class="text-md">Since Feb 2022</h2>
        <p class="text-sm">Total Links processed: <b>38,371</b> </p>
        <p class="text-sm">Total images and video: <b>440GB</b></p>

        @*<a href="https://rightscon.org">rightscon.org</a>*@
    </div>
</section>

<!-- Used by-->
<section class="box box-thank-you text-center py-md">
    <div class="box-inner">
        <h2 class="text-md">Used by</h2>
        @*<p class="text-sm">To our collaborators, sponsors and technology providers</p>*@
        <!-- <ul>
            <li>ESRC</li>
        </ul> -->
    </div>
</section>

<!-- Used by logos -->
<!-- box gives 1440 max width -->
<section class="box box-thank-you-logos">
    <ul>
        <li><a href="https://www.info-res.org/"><img src="img/2023/cir.webp" alt="Centre for Information Resilience" title="Centre for Information Resilience"></a></li>
        @*<li><a href="https://www.swansea.ac.uk/law/"><img src="img/swansea-university-logo.svg" alt="Sweansea University" title="Swansea University"></a></li>
        <li><a href="https://www.hw.ac.uk/"><img src="img/hw-logo.svg" alt="Heriot Watt University" title="Heriot Watt University"></a></li>
        <li><a href="https://www.manchester.ac.uk/"><img src="img/um.svg" alt="University of Manchester" title="University of Manchester"></a></li>
        <li><a href="https://hmsoftware.co.uk/"><img src="img/hms-logo2.png" alt="HMSoftware" title="Amnesty International"></a></li>*@
    </ul>
    <!-- https://cs.swansea.ac.uk/~cssimonr/resources/ -->
    <!-- https://www.hw.ac.uk/uk/services/media-services/brand-guidelines.htm -->
</section>


<!-- Human Rights-->
<section class="box box-demo-started grid-col-2" id="human-rights">
    <div>
        <!-- <img src="img/box-f1.jpg" alt=""> -->
        <!-- <img src="img/Yvonne-230x300.jpg" alt=""> -->
        @*<img src="img/Yvonne-white.jpg" alt="">*@

        <div class="py-lg">
            <div class="box-text">
                <h2 class="text-xl">Human Rights</h2>
                <p class="text-sm">Open source information has completely <a href="https://academic.oup.com/jhrp/article/14/2/554/6573245">transformed</a> investigations into serious human rights violations. Evidence gathered by ordinary citizens and shared online has <a href="https://academic.oup.com/jicj/issue/19/1">been used</a> in prosecutions for war crimes and crimes against humanity both domestically and internationally.</p>
                    
                 <p class="text-sm">One of the big challenges is the time lag between information being posted online and investigations or prosecutions. </p>
                <p class="text-sm">The Auto-Archiver aims to bridge that gap by helping human rights NGOs and investigators to quickly preserve useful and relevant content.</p>
                <!-- <a href="#" class="btn btn-dark">Run Demo</a> -->
            </div>
        </div>
    </div>
    <!-- col 2  - YouTube -->
    <div>
        <!-- <img src="img/box-f2.jpg" alt=""> -->
        @* <img src="img/start.jpg" alt="">*@
        @*    <div class="videowrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUdVXVq4wk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>*@

        <div class="bg-primary py-lg">
            <div class="box-text">
                <h2 class="text-xl">...</h2>
                <p class="text-sm">Our core mission is to help human rights organisations with digital archiving</p>
                <p class="text-sm">Keep your own secure copy of all social media links.</p>
                <p class="text-sm">Easy to use spreadsheet system</p>
                <p class="text-sm">Multi user</p>
                <p class="text-sm">Our preconfigured templates can help you get up and running quickly</p>
                <a href="/#contact-us" class="btn btn-blue">Try for free</a>
            </div>
        </div>
    </div>
</section>


<!-- Journalists -->
<section class="box box-demo-started grid-col-2" id="journalists">
    <div>
        <!-- <img src="img/box-f1.jpg" alt=""> -->
        <!-- <img src="img/Yvonne-230x300.jpg" alt=""> -->
        @*<img src="img/Yvonne-white.jpg" alt="">*@

        <div class="py-lg">
            <div class="box-text">
                <h2 class="text-xl">Investigative Journalists</h2>
                <p class="text-sm">Investigative journalists often focus on reporting on human rights abuses and violations. They investigate and expose instances of government oppression, discrimination, and mistreatment of individuals and groups. They bring attention to issues such as police brutality, human trafficking, and other human rights abuses. Their reporting can serve as a catalyst for social and political change by raising awareness and promoting accountability. </p>
                <p class="text-sm">They also play an important role in monitoring and protecting the enjoyment of human rights by individuals and communities, by bringing to light instances where those rights are being violated. In this way, investigative journalism can play a crucial role in promoting and protecting human rights, and ensuring that individuals are able to live with dignity and justice.</p>
                <!-- <a href="#" class="btn btn-dark">Run Demo</a> -->
            </div>
        </div>
    </div>
    <!-- col 2  - YouTube -->
    <div>
        <!-- <img src="img/box-f2.jpg" alt=""> -->
        @* <img src="img/start.jpg" alt="">*@
        @*    <div class="videowrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUdVXVq4wk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>*@

        <div class="bg-primary py-lg">
            <div class="box-text">
                <h2 class="text-xl">...</h2>
                <p class="text-sm">We work with investigative journalists</p>
                <p class="text-sm">Let us help you make sure that none of your sources disappear, so you have a copy.</p>
                <a href="/#contact-us" class="btn btn-blue">Try for free</a>
            </div>
        </div>
    </div>
</section>


<!-- About us-->
<section class="box box-demo-started grid-col-2" id="about">
    <div>
        <!-- <img src="img/box-f1.jpg" alt=""> -->
        <!-- <img src="img/Yvonne-230x300.jpg" alt=""> -->
        @*<img src="img/Yvonne-white.jpg" alt="">*@

        <div class="py-lg">
            <div class="box-text">
                <h2 class="text-xl">About</h2>

                <p class="text-sm">Our origins started with an academic research collaboration, <a href="https://osr4rights.org">OSR4Rights</a>, funded by the UK Economic and Social Research Council. In that project, we developed a suite of <a href="https://osr4rightstools.org/">tools</a> for open source human rights investigators, with support from the Research Wales Innovation Fund. </p>

                <p class="text-sm">The auto-archiver is based on open-source <a href="https://github.com/bellingcat/auto-archiver">archiving code</a> developed by the great programmers at <a href="https://www.bellingcat.com/resources/2022/09/22/preserve-vital-online-content-with-bellingcats-auto-archiver-tool/">Bellingcat</a></p>

                <p class="text-sm">After extending it to use Google Drive, and writing the Facebook archiver, we are now offering it commercially to organisations that do not have the programming skills to turn the code to an in-house archiving system </p>

                <!-- <a href="#" class="btn btn-dark">Run Demo</a> -->
            </div>
        </div>
    </div>
    <!-- col 2  - YouTube -->
    <div>
        <!-- <img src="img/box-f2.jpg" alt=""> -->
        @* <img src="img/start.jpg" alt="">*@
        @*    <div class="videowrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5JUdVXVq4wk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>*@

        <div class="bg-primary py-lg">
            <div class="box-text">
                <h2 class="text-xl">The Team</h2>
                <img src="~/img/2023/dave.jpg" width="150"/>
                <p class="text-sm"><a href="https://davemateer.com/about">Dave Mateer</a> (founder of auto-archiver.com) has been writing web based software for over 20 years. From multinational banks in London to government agriculture projects in New Zealand</p>

                <p class="text-sm">After working in large organisations Dave likes working in small teams where you get to speak to the person writing the code and maintaining the systems. You don't have to pay the tax for working with a large organisation.</p>

                <p class="text-sm">There are many people helping in this endeavour - I'd like to thank: Yvonne, Phil, Ellie, Miguel, Logan, Kayleigh</p>
            </div>
        </div>
    </div>
</section>

<!-- Pricing -->
<section class="box box-thank-you text-center py-md" id="pricing">
    <div class="box-inner">
        <h2 class="text-md">Pricing</h2>
        <p class="text-sm">Free - demo for 1 month. Commonly we get written into grant proposals, so are happy to extend demos if this is important to your cause.</p>
        <p class="text-sm">GBP£80 / USD$99 per month for unlimited links. Including the Facebook archiver. 2 months free if paid annually £800 / $999. </p>

        <p class="text-sm">GBP£200 / USD$240 per month for 2 dedicated servers (1 a specialised Facebook archiver) and unlimited links. When policy dictates segregation from other peoples servers, and for speed. 2 months free if paid annually.</p>

        <p class="text-sm">GBP£390 / USD$470 per month for supported on prem server. Includes all initial setup within your environment, regular maintenance and support.  2 months free if paid annually.</p>
        @*<p class="text-sm">If you have no budget and are doing good things, drop us an email <a href="mailto: dave.mateer@auto-archiver.com">dave.mateer@auto-archiver.com</a></p>*@
        @*<p class="text-sm">This is pricing per project - if you have multiple projects and want separate spreadsheets and google drive folders for each project, then no problem!</p>*@
        <!-- <ul>
            <li>ESRC</li>
        </ul> -->
    </div>
</section>


<!-- Contact Us -->
<!-- Box B2 - Auto-archive -->
<section class="box box-b grid-col-2" id="contact-us">
    @*<section class="box box-b" id="contact-us">*@
    <!-- <img src="img/box-b.png" alt=""> -->
    <div class="box-text">
        <h2 class="text-xl">Contact Us / Newsletter</h2>

        <p class="text-sm">We would <b>love to hear from you!</b> Send us a direct email at: <a href="mailto:dave.mateer@auto-archiver.com">dave.mateer@autoarchiver.com</a> or call us on +44 7584 126022</p>

        <p class="text-sm">If you'd like to be kept up to date with our <b>newsletter</b>, please fill in your email and put in newsletter in the message, and we'll keep you up to date</p>

        <form method="post">

            <div>
                <!-- <label for="hateSpeech">Enter hatespeech:</label> -->
            </div>
            <input class="input text-sm" type="text" id="email" placeholder="eg alice@example.com" value="" name="email">

            <textarea class="input" name="message" rows="5" placeholder="message"></textarea>

            <input type="hidden" name="route" value="auto" />


            <input type="hidden" name="cb" value="@Model.CacheBust" />

            <div class="py-md">
                <!-- submit the form -->
                @*<button type="submit" class="btn btn-blue" disabled>Analyse URL (coming soon)</button>*@
                <button type="submit" class="btn btn-blue">Send</button>
            </div>

        </form>
        @*    <div>
        <a href="/auto-archiver" class="btn btn-light">More Info</a>
        </div>*@

    </div>

    <!-- Try for Free-->
    <div class="box-text" id="try-for-free">
        <h2 class="text-xl">Try for Free</h2>
        <p class="text-sm">Please contact me (details to the left) and we can get you setup quickly <b>15 mins</b> on one of our demo sheets. </p>

        <p class="text-sm">You will be able to archive as many links as you want, and will have access to support.</p>
    </div>
</section>

<!-- Thank you for considering us-->
<section class="box  text-center py-md">
    <div class="box-inner">
        <h2 class="text-md">Thank you for considering us!</h2>
        <p class="text-sm">"This tool is fantastic", it saves countless hours of tedious clicking. Our focus is on Human Rights Investigations where our aim is to improve the world. A heartfelt thank you to all investigators who tackle a challenging and emotionally trying job. <b>Your efforts are making a significant impact.</b> </p>
        <img src="~/img/2023/beach.jpg" />

        @*<p class="text-sm">Lets make the world a better place</p>*@
    </div>
</section>

