@page
@model TermsModel

@{
    ViewData["Title"] = "Terms and Conditions";
}
<!-- asdf -->
<section class="box box-a py-md">
    <div>
        <h2 class="text-xl">Terms and Conditions</h2>

        <p class="text-sm">The service is provided in good faith - please do not use it for illegal content. </p>

        <p class="text-sm">We use Google Spreadsheets and Google Drive so please adhere to their terms: <a href="https://www.google.com/drive/terms-of-service/">Google Drive Terms of Service.</a> and <a href="https://support.google.com/docs/answer/148505#zippy=%2Cviolence-and-gore">more detail on what is allowed to be stored</a></p>


        <p class="text-sm">Please be respectful of our system - if you are on the shared servers then be mindful of putting huge numbers of links in a sheet to be archived. Please email us at: dave.mateer@auto-archiver.com if you need many thousand processed before you try. Many hundred are usually okay, but if you try and download a YouTube video hours in length it will tie the system up for a long time processing that. Email if unsure.</p>

    </div>
</section>

