@using System.Security.Claims
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">*@
    @await RenderSectionAsync("Styles", false)
    <!-- want this to be called last, which will override if same specificity -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <title>auto-archiver - @ViewData["Title"]</title>
</head>

<body>

    <nav class="navbar">
        <!-- Logo -->
        <div class="navbar-logo">
            <a href="/">
                <span><b>AA</b></span>
                @*<img src="/img/osr-logo.png" alt="OSR4RightsTools">*@
            </a>
        </div>

        <!-- Navbar Left -->
        <ul class="navbar-nav-left">
            <li class="underline"><a href="/#human-rights">Human Rights</a></li>
            <li class="underline"><a href="/#journalists">Journalists</a></li>
            <li class="underline"><a href="/docs">Documentation</a></li>

            <li class="underline"><a href="/#about">About</a></li>
            <li class="underline"><a href="/#pricing">Pricing</a></li>

        </ul>

        <!--  Navbar Right-->
        <ul class="navbar-nav-right">
            @*<li class="underline"><a href="#">Contact</a></li>*@

            @*
            @if (HttpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
            {
            <li class="underline"><a href="/account/manage">@User?.Identity?.Name</a></li>
            <li class="underline">
            <form class="form-inline" asp-page="/account/logout" method="post">
            <button type="submit" class="btn btn-light">Logout</button>
            </form>
            </li>
            }
            else
            {
            <li class="underline"><a href="/account/login">Login</a></li>
            <li><a href="/account/register" class="btn btn-blue">Try for free</a></li>
            }
            *@
            <li class="underline"><a href="/#contact-us">Contact Us</a></li>
            <li><a href="/#try-for-free" class="btn btn-blue">Try for free</a></li>

        </ul>

        <!-- Hamburger Menu -->
        <button type="button" class="hamburger" id="menu-btn">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
    </nav>

    <!-- Mobile Menu -->
    <div class="mobile-menu hidden" id="mobile-menu">
        <ul>
            @*  <li><a href="#human-rights">Human Rights</a></li>
            <li><a href="#journalists">Journalists</a></li>*@
            <li><a href="/docs">Documentation</a></li>
        </ul>

        <div class="mobile-menu-bottom">
            <div>
                @*<a href="https://osr4rights.org/">About</a>*@
                <!--<a href="#">
                    <img src="/img/marker.svg" alt="">
                    <span>About</span>
                </a>-->
            </div>

            <div>
                <ul>
                    @*
                    @if (HttpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
                    {
                    <li><a href="/account/manage">Hello @User?.Identity?.Name!</a></li>
                    <li>
                    <form class="form-inline" asp-page="/account/logout" method="post">
                    <button type="submit" class="btn btn-light">Logout</button>
                    </form>
                    </li>
                    }
                    else
                    {
                    <li class="underline login-link"><a href="/account/login">Login</a></li>
                    <li><a href="/account/register" class="btn btn-blue">Try for free</a></li>
                    }
                    *@
                </ul>
            </div>


            @*<button class="btn btn-dark-outline">Login</button>
            <button class="btn btn-blue">Try for free</button>
            *@            <!-- put in div so it goes down a line -->
        </div>
    </div>
    <!-- end mobile menu-->
    @RenderBody()

    <!-- Links -->
    <section class="links bg-grey">
        <div class="links-inner">
            <ul>
                <li>
                    <h3>auto-archiver</h3>
                </li>
                <li><a href="/privacy">Data Protection and Privacy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy</a></li>
                @*<li><a href="#">News</a></li>
                <li><a href="#">Conferences</a></li>
                <li><a href="#">Sustainability</a></li>*@
            </ul>
            <ul>
                <li>
                    <h3>Blog Posts</h3>
                </li>
                <li><a href="/hate-speech">AA - Twitter Archiver</a></li>
                <li><a href="/face-search">AA - Facebook Archiver</a></li>
                <li><a href="/speech-parts">AA - YouTube Archiver</a></li>
                <li><a href="/speech-parts">AA - How we use Google Spreadsheets and automating them</a></li>
                <li><a href="/speech-parts">AA - How to connect to Google Drive</a></li>
  @*              <li><a href="/auto-archiver"></a></li>
                <li><a href="/fire-map">Fire Map</a></li>*@
            </ul>
            <ul>
                <li>
                    <h3>Resources</h3>
                </li>
                @*<li><a href="#">Case Studies (coming soon)</a></li>*@
                <li><a href="https://osr4rights.org/guide-to-osr/">Human Rights Guide</a></li>
                <li><a href="https://osr4rights.org">OSR4Rights</a></li>
            </ul>
            <ul>
                <li>
                    <h3>Help Us</h3>
                </li>
                @*<li><a href="https://osr4rights.org/">About Us</a></li>
                <li><a href="https://www.youtube.com/watch?v=5JUdVXVq4wk">Video Introduction</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="https://osr4rights.org/contact-us/">Contact Us</a></li>*@
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-grey">
        <ul>
            <li>&copy; 2023 auto-archiver.com</li>
            <li><a href="https://github.com/djhmateer/auto-archiver">We are Open Source</a></li>
            <!--<li><a href="#">Sitemap</a></li>-->
            <li>Hosted in the EU on Microsoft Azure and others</li>
        </ul>
        <ul>
            <li>The Lea, Wellgreen Lane, Kingston near Lewes, East Sussex, BN7 3NR, England</li>
        </ul>
        <ul>
            <li>+44 7584 126022</li>
            <li>dave.mateer@auto-archiver.com</li>
        </ul>

    </footer>


    <script src="~/js/script.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
